*,
*::after,
*::before{
    border: 1px solid blueviolet;
    margin: 1px;
    padding: 2px;
}

body{
    display: flex;
    justify-content: center;
}

#gridBox{
    width: 95vh;
    /* height: 900px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#gridCell{
    width: 5vh;
    height: 5vh;
}

